---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="CSS Interactive cards hover effect">
	<main class="container">
		<h1 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
		<div class="cards">
			<Card
				title='Nisi, aut esse harum aliquid'
				pretitle='Lorem ipsum dolor'
				description="Adipisicing elit. Incidunt, odit corporis. Nisi, aut esse harum aliquid assumenda laboriosam possimus cumque velit aperiam enim, fuga consequatur modi quia ut iste atque. Id quia, magni doloremque incidunt quis molestias iste laboriosam consequatur neque blanditiis soluta adipisci quod voluptatibus minus, maxime exercitationem sed odit totam maiores voluptatum perferendis! Cupiditate assumenda cum nihil porro."
				cta='tab to read'
				image='/images/4415761.jpg'
			/>
			<Card
				title='Phasellus ligula turpis, interdum'
				pretitle='Lorem ipsum dolor'
				description="Adipisicing elit. Incidunt, odit corporis. Nisi, aut esse harum aliquid assumenda laboriosam possimus cumque velit aperiam enim, fuga consequatur modi quia ut iste atque. Id quia, magni doloremque incidunt quis molestias iste laboriosam consequatur neque blanditiis soluta adipisci quod voluptatibus minus, maxime exercitationem sed odit totam maiores voluptatum perferendis! Cupiditate assumenda cum nihil porro."
				cta='tab to read'
				image='/images/4416108.jpg'
			/>
		</div>
	</main>
</Layout>

<style lang="scss">
	.container {
		width: 100%;
		padding: 80px 20px;
		margin-right: auto;
		margin-left: auto;
		
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3.5rem;
		margin-left: auto;
		margin-right: auto;
		
		@media screen and (min-width: 640px) {
			max-width: 640px;
		}
	
		@media screen and (min-width: 768px) {
			max-width: 768px;
			justify-content: center;
		}
	
		@media screen and (min-width: 1024px) {
			max-width: 1024px;
			height: 100%;
		}
		
		@media screen and (min-width: 1440px) {
			max-width: 1440px;
			padding-left: 75px;
			padding-right: 75px;
		}
	}

	.title {
		color: #fff;
		font-size: 30px;
		font-weight: 500;
		text-align: center;
	}

	.cards {
		display: flex;
		flex-direction: column;
		gap: 5em;
		
		@media screen and (min-width: 768px) {
			gap: 3em;
		}
		
		@media screen and (min-width: 1024px) {
			flex-direction: row;
			gap: 10em;
		}
	}
</style>
